<div class="modal-footer pull-down">
<div class="footer">
        <div class="row">
            <div class="col-sm-4 pull-left" style="background-color:white;"><b><u>About Us :</u></b> 
            <p>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            </div>
            <div class="col-sm-4 pull-left" style="background-color:white;"><b><u>Terms & Conditions :</u></b>
            <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            </div>
            <div class="col-sm-4 pull-left" style="background-color:white;"><b><u>Complaints :</u></b> 
            <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            </div>
          </div>
        </div>
          </div>
          