<div class="container-fluid bg-3 text-center">
    <h3><u>Men's Casual Shirts</u></h3>
    <div class="container-fluid bg-3 text-center">
     <div class="row" >
      <div class="col-sm-3" *ngFor='let t1 of cart'>
          <img src="{{t1.img}}" class="img-responsive" style="width:100%" alt="Image">
          <p>Brand Name:{{t1.name}}</p>
          <p>price:{{t1.price}}</p>  
         <button type="submit" class="btn btn-primary " (click)="onAddToCart(t1)">Add To Cart</button>
         <!-- <app-cart [productId]='t1.img' [productName]='t1.name' [price]='t1.price'></app-cart> -->

        </div>
        </div>
    </div>
        <br>    
     <div class="container-fluid bg-3 text-center">
        <div class="row">
           <div class="col-sm-3">
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
             <p>Brand Name</p>
           </div>
           <div class="col-sm-3"> 
             <img src="assets\image\pp1.jpg" class="img-responsive" style="width:100%" alt="Image">
           <p>Brand Name3</p>	  
           </div>
           <div class="col-sm-3"> 
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
           <p>Brand Name</p>	  
           </div>
           <div class="col-sm-3"> 
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
           <p>Brand Name</p>	  
           </div>
        </div>
        </div>
        <br>   
     <div class="container-fluid bg-3 text-center">
        <div class="row">
           <div class="col-sm-3">
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
             <p>Brand Name</p>
           </div>
           <div class="col-sm-3"> 
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
           <p>Brand Name</p>	  
           </div>
           <div class="col-sm-3"> 
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
           <p>Brand Name</p>	  
           </div>
           <div class="col-sm-3"> 
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
           <p>Brand Name</p>	  
           </div>
        </div>
        </div>
        <br>
     <div class="container-fluid bg-3 text-center">
        <div class="row">
           <div class="col-sm-3">
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
             <p>Brand Name</p>
           </div>
           <div class="col-sm-3"> 
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
           <p>Brand Name</p>	  
           </div>
           <div class="col-sm-3"> 
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
           <p>Brand Name</p>	  
           </div>
           <div class="col-sm-3"> 
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
           <p>Brand Name</p>	  
           </div>
        </div>
        </div>
        <br>
     <div class="container-fluid bg-3 text-center">
        <div class="row">
           <div class="col-sm-3">
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
             <p>Brand Name</p>
           </div>
           <div class="col-sm-3"> 
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
           <p>Brand Name</p>	  
           </div>
           <div class="col-sm-3"> 
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
           <p>Brand Name</p>	  
           </div>
           <div class="col-sm-3"> 
             <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
           <p>Brand Name</p>	  
           </div>
        </div>
        </div>
        <br>    
        <div class="container-fluid bg-3 text-center">
            <h3><u>Similar Products</u></h3>
             <div class="row">
                <div class="col-sm-3">
                  <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                  <p>Brand Name</p>
                </div>
                <div class="col-sm-3"> 
                  <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
                <p>Brand Name</p>	  
                </div>
                <div class="col-sm-3"> 
                  <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
                <p>Brand Name</p>	  
                </div>
                <div class="col-sm-3"> 
                  <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                <p>Brand Name</p>	  
                </div>
             </div>
             </div>
