<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div formGroupName="userData">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                formControlName="username"
                class="form-control">
              <span
                *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
                class="help-block">
                <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">This name is invalid!</span>
                <span *ngIf="signupForm.get('userData.username').errors['required']">This field is required!</span>
  
              </span>
            </div>
            <div class="form-group">
              <label for="email">email</label>
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control">
              <span
                *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
                class="help-block">Please enter a valid email!</span>
                <label for="password">password</label>
              <input type="password" id="password" class="form-control" ngModel name="password" required>
            </div>
          </div>
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input
                type="radio"
                formControlName="gender"
                [value]="gender">{{ gender }}
            </label>
          </div>
          <div formArrayName="hobbies">
            <h4>Your Products</h4>
            <button
              class="btn btn-default"
              type="button"
              (click)="onAddHobby()">Add Company</button>
            <div
              class="form-group"
              *ngFor="let hobbyControl of signupForm.get('hobbies').controls; let i = index">
              <input type="text" class="form-control" [formControlName]="i">
            </div>
          </div>
          <span
            *ngIf="!signupForm.valid && signupForm.touched"
            class="help-block">Please enter valid data!</span>
            <br>
         
          <br>
          <br>
          
          
          
          
          <div class="row">
          <div class="col-xs-12">
          <div
          class="btn-group"
          appDropdown>
          <button
            type="button"
            class="btn btn-primary dropdown-toggle">
            Manage Product<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Add Product</a></li>
            <li><a href="#">Edit Product</a></li>
            <li><a href="#">Delete Product</a></li>
          </ul>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appDropdown>
              <a href="#" class="dropdown-toggle" role="button">Select Action <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Save Data</a></li>
                <li><a href="#">Fetch Data</a></li>
              </ul>
            </li>
          </ul>

          </div>
          </div>
          <button class="btn btn-primary pull-right" type="submit">Submit</button>
          <br>
          <br>
        </form>
      </div>
    </div>
  </div>